:root {
  --item-gap: 30px;

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bcg-color: #f5f4fa;
  --secondary-bcg-color: #2f303a;
  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #757575;
  --black-icon-color: #212121;

  /* * transition */
  --duration-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /** header */
  --header-border-color: #ececec;
  --logo-color: #000000;

  /** hero */
  --hero-overlay-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --button-hover-color: #188ce8;
  --button-hover-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  --backdrop-bcg-color: rgba(0, 0, 0, 0.2);
  --close-border-color: rgba(0, 0, 0, 0.1);
  --close-icon-color: #000000;

  /** services */
  --service-subtitle-bcg: rgba(47, 48, 58, 0.8);

  /** staff */
  --team-member-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /** footer */
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --network-firm-color: rgba(255, 255, 255, 0.1);

  --subscription-input-border: 1px solid rgba(255, 255, 255, 0.3);
  --subscription-input-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  --subscription-placeholder-color: rgba(255, 255, 255, 0.6);

  /**portfolio */
  --portfolio-border-color: #eeeeee;
  --filter-btn-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  --portfolio__project-shadow: rgba(0, 0, 0, 0.25);
  --project-description-bcg: rgba(33, 150, 243, 0.9);

  /** fonts */
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;

  /** form */
  --input-border: 1px solid rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

body {
  padding-top: 80px;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ! =====================================HEADER===================================== */
.header {
  position: fixed;

  top: 0;
  left: 0;
  min-height: 80px;
  width: 100%;
  background-color: var(--primary-white-color);

  z-index: 2;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;
}

/** logo */
.logo {
  color: var(--logo-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
}

.footer__logo {
  color: var(--primary-white-color);
}

.logo__accent {
  color: var(--accent-color);
}

/** Site navigation */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.site-nav__item:not(:last-child),
.contact-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}

.site-nav__link {
  color: var(--title-text-color);

  transition: color var(--duration-timing-function);
}

.contact-nav__link {
  color: var(--primary-text-color);

  transition: color var(--duration-timing-function);
}

.site-nav__link--active,
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

.contact-nav__link {
  display: flex;
  align-items: center;
}

.contact-nav__icon {
  margin-right: 10px;

  fill: currentColor;

  transition: fill var(--duration-timing-function);
}

.contact-nav__link:hover .contact-nav__icon,
.contact-nav__link:focus .contact-nav__icon {
  fill: var(--accent-color);
}

.site-nav__link--active {
  position: relative;
}

.site-nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";

  height: 4px;
  width: 100%;
  border-radius: 2px;

  background-color: var(--accent-color);
}

/* ! ===================================END OF HEADER=================================== */

/* ! ===================================INDEX.HTML=================================== */
/** Hero */
.hero {
  padding: 200px 0;
  text-align: center;

  /* это было ранее в отдельном класс оверлей */
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--secondary-bcg-color);
  background-image: linear-gradient(var(--hero-overlay-gradient)),
    url(../images/main-page/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  display: block;
  width: 696px;
  margin: 0 auto 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/** Button */
.button {
  display: flex;
  align-items: center;

  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color var(--duration-timing-function),
    box-shadow var(--duration-timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
  box-shadow: var(--button-hover-shadow);
}

/** Section */
.section__title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/** Traits */
.traits {
  padding-top: 94px;
  padding-bottom: 47px;
}

.feature-list {
  display: flex;
}

.feature-list__item {
  width: 270px;
}

.feature-list__item:not(:last-child) {
  margin-right: 30px;
}

.feature-list__background {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: var(--primary-bcg-color);
}

.feature-list__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

/** Activity */
.activity {
  padding-top: 47px;
  padding-bottom: 94px;
}

.service-list {
  display: flex;
}

.service-list__item {
  width: 370px;
}

.service-list__item:not(:last-child) {
  margin-right: 30px;
}

.service-list__thumb {
  position: relative;
}

.service-list__wrapper {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  background-color: var(--service-subtitle-bcg);
}

.service-list__title {
  color: var(--primary-white-color);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/** Staff */

.staff {
  padding: 94px 0;
  background-color: var(--primary-bcg-color);
}

.employee {
  display: flex;
  margin-right: calc(-1 * var(--item-gap));
}

.employee__card {
  flex-basis: calc(100% / 4 - var(--item-gap));

  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: var(--team-member-shadow);
  border-radius: 1px;
}

.employee__card:not(:last-child) {
  margin-right: var(--item-gap);
}

.employee__info {
  padding: 30px 0;
}

.employee__name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employee__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__network {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background-color: var(--primary-white-color);

  transition: background-color var(--duration-timing-function);
}

.social-list__icon {
  fill: var(--primary-icon-color);
  transition: fill var(--duration-timing-function);
}

.social-list__network:hover,
.social-list__network:focus {
  background-color: var(--accent-color);
}

.social-list__network:hover .social-list__icon,
.social-list__network:focus .social-list__icon {
  fill: var(--primary-white-color);
}

/** Clients */
.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list__item {
  flex-basis: calc(100% / 6 - var(--item-gap));
}

.client-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  border: 1px solid var(--primary-icon-color);
  transition: border-color var(--duration-timing-function);
}

.client-list__logo {
  fill: var(--primary-icon-color);

  transition: fill var(--duration-timing-function);
}

.client-list__link:hover,
.client-list__link:focus {
  border-color: var(--accent-color);
}

.client-list__link:hover .client-list__logo,
.client-list__link:focus .client-list__logo {
  fill: var(--accent-color);
}

/* ! ===================================THE END OF INDEX.HTML=================================== */

/* ! =====================================PORTFOLIO.HTML=====================================*/
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__category {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;

  color: var(--title-text-color);
  background-color: var(--primary-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  transition: background-color var(--duration-timing-function),
    color var(--duration-timing-function),
    box-shadow var(--duration-timing-function);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__category:hover,
.filter-list__category:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--filter-btn-shadow);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-right: calc(-1 * var(--item-gap));
  margin-bottom: calc(-1 * var(--item-gap));
}

.portfolio__item {
  flex-basis: calc(100% / 3 - var(--item-gap));
  margin-right: var(--item-gap);
  margin-bottom: var(--item-gap);
}

.project {
  display: block;

  transition: box-shadow var(--duration-timing-function);

  text-decoration: none;
  font-style: normal;
}

.project:hover,
.project:focus {
  box-shadow: 0px 4px 4px 0px var(--portfolio__project-shadow);
}

.project__info {
  padding: 20px 24px;

  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.project__title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__subtitle {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__wrapper {
  position: absolute;
  display: block;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: var(--project-description-bcg);

  overflow: auto;
  opacity: 0;

  transform: translateY(100%);
  transition: transform var(--duration-timing-function);
}

.project__description {
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);
}

.project:hover .project__wrapper,
.project:focus .project__wrapper {
  transform: translateY(0%);
  opacity: 1;
}
/* ! ================================THE END OF PORTFOLIO.HTML================================ */

/* ! =====================================FOOTER===================================== */
/** Footer */
.footer {
  padding: 60px 0;

  background-color: var(--secondary-bcg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.company-address {
  margin-right: 70px;
}

.company-address__box {
  margin-top: 20px;
}

.company-address__link {
  color: var(--footer-contact-color);
  transition: color var(--duration-timing-function);
  text-decoration: none;
  font-style: normal;
}

.company-address__link--mail {
  display: inline-block;
  margin-bottom: 9px;
}

.company-address__link--location {
  display: inline-block;
  margin-bottom: 9px;

  color: var(--primary-white-color);
}

.company-address__link:hover,
.company-address__link:focus {
  color: var(--accent-color);
}

.social-list__network--grey {
  background-color: var(--network-firm-color);
}

.social-list__icon--white {
  fill: var(--primary-white-color);
}

.company-socials__call {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  line-height: 1.17;
}

.subscription {
  margin-left: auto;
}

.subscription__call {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  line-height: 1.17;
}

.subscription__box {
  display: flex;
  align-items: center;
}

.subscription__form {
  width: 358px;
  margin-right: 12px;
}

.subscription__input {
  display: block;
  min-height: 50px;
  width: 100%;
  background-color: transparent;
  padding: 10px;

  color: var(--primary-white-color);

  border-radius: 4px;
  border: var(--subscription-input-border);
  box-shadow: var(--subscription-input-shadow);

  outline: none;

  transition: border-color var(--duration-timing-function);
}

.subscription__input:focus,
.subscription__input:hover {
  border-color: var(--primary-white-color);
}

.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--subscription-placeholder-color);
}

.button--size {
  padding: 10px 28px;
}

.button__icon {
  margin-left: 10px;

  fill: currentColor;

  transition: fill var(--duration-timing-function);
}

/* ! ===================================END OF FOOTER=================================== */

/* ! ================================MODAL WINDOW================================ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bcg-color);

  opacity: 1;
  z-index: 99;

  transition: opacity var(--duration-timing-function),
    visability var(--duration-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  margin-top: 0;

  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;

  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration-timing-function);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid var(--close-border-color);
  background-color: transparent;

  cursor: pointer;
}

.close__icon {
  fill: var(--close-icon-color);
  transition: fill var(--duration-timing-function);
}

.close:hover .close__icon,
.close:focus .close__icon {
  fill: var(--accent-color);
}

/* ! ================================MODAL FORM================================ */

.form__call {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin: 0 auto 10px;

  position: relative;
}

.form__input {
  outline: none;
  border: var(--input-border);
  border-radius: 4px;
  padding: 11px 0px 11px 42px;

  cursor: pointer;

  transition: border-color var(--duration-timing-function);
}

.form__icon {
  position: absolute;
  display: inline-block;

  top: 29px;
  left: 12px;

  transition: fill var(--duration-timing-function);
}

.form__field:focus-within .form__icon,
.form__field:hover .form__icon {
  fill: var(--accent-color);
}

.form__input:focus,
.form__textarea:focus,
.form__input:hover,
.form__textarea:hover {
  border-color: var(--accent-color);
}

.form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.comment {
  margin-bottom: 20px;
}

.form__textarea {
  resize: none;
  padding: 12px 16px;

  outline: none;
  border: var(--input-border);
  border-radius: 4px;

  cursor: pointer;

  transition: border-color var(--duration-timing-function);
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--placeholder-color);
}

.policy {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form__label-checkbox {
  display: block;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form__link {
  color: var(--accent-color);
}

.send {
  padding: 10px 55px;
}

.form__icon-checkbox {
  margin-right: 8px;

  border: 2px solid var(--black-icon-color);
  border-radius: 2px;

  transform: scale(1);
  transition: transform var(--duration-timing-function),
    background-color var(--duration-timing-function),
    border-color var(--duration-timing-function);

  cursor: pointer;
}

.form__checkbox:checked + .form__icon-checkbox {
  border-color: transparent;

  background-color: var(--accent-color);

  transform: scale(1.2);
}

.form__checkbox:focus + .form__icon-checkbox {
  outline: -webkit-focus-ring-color auto 1px;
}
/* ! ================================THE END OF A MODAL WINDOW================================ */

/** Поставил анимашку лого при переходе на главную страницу */
@keyframes beat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

.animation {
  animation-name: beat;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
}
