.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__category {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;

  color: var(--title-text-color);
  background-color: var(--primary-bcg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  transition: background-color var(--duration-timing-function),
    color var(--duration-timing-function),
    box-shadow var(--duration-timing-function);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__category:hover,
.filter-list__category:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--filter-btn-shadow);
}
