.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bcg-color);

  opacity: 1;
  z-index: 99;

  transition: opacity var(--duration-timing-function),
    visability var(--duration-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  margin-top: 0;

  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;

  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration-timing-function);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid var(--close-border-color);
  background-color: transparent;

  cursor: pointer;
}

.close__icon {
  fill: var(--close-icon-color);
  transition: fill var(--duration-timing-function);
}

.close:hover .close__icon,
.close:focus .close__icon {
  fill: var(--accent-color);
}

/* ! ================================MODAL FORM================================ */

.form__call {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin: 0 auto 10px;

  position: relative;
}

.form__input {
  outline: none;
  border: var(--input-border);
  border-radius: 4px;
  padding: 11px 0px 11px 42px;

  cursor: pointer;

  transition: border-color var(--duration-timing-function);
}

.form__icon {
  position: absolute;
  display: inline-block;

  top: 29px;
  left: 12px;

  transition: fill var(--duration-timing-function);
}

.form__field:focus-within .form__icon,
.form__field:hover .form__icon {
  fill: var(--accent-color);
}

.form__input:focus,
.form__textarea:focus,
.form__input:hover,
.form__textarea:hover {
  border-color: var(--accent-color);
}

.form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.comment {
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;

  resize: none;
  padding: 12px 16px;

  outline: none;
  border: var(--input-border);
  border-radius: 4px;

  cursor: pointer;

  transition: border-color var(--duration-timing-function);
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--placeholder-color);
}

.policy {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form__label-checkbox {
  display: block;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form__link {
  color: var(--accent-color);
}

.send {
  padding: 10px 55px;
}

.form__icon-checkbox {
  margin-right: 8px;

  border: 2px solid var(--black-icon-color);
  border-radius: 2px;

  transform: scale(1);
  transition: transform var(--duration-timing-function),
    background-color var(--duration-timing-function),
    border-color var(--duration-timing-function);

  cursor: pointer;
}

.form__checkbox:checked + .form__icon-checkbox {
  border-color: transparent;

  background-color: var(--accent-color);

  transform: scale(1.2);
}

.form__checkbox:focus + .form__icon-checkbox {
  outline: -webkit-focus-ring-color auto 1px;
}
